.form {
    display: flex;
    justify-content: center;
    margin: 80px 0;
    
}

.form h2 {
    font-size: 2em;
    text-align: center;
}

.form form {
    width: 100%;
    max-width: 50%;
    background: linear-gradient(180deg, rgba(0,255,29,1) 0%, rgba(242,255,244,1) 100%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
    padding: 36px 64px;
    box-shadow: 8px 8px 16px rgba(0, 0 ,0, 0.08);
}