/* src/componentes/Rodape/index.js */

.footer {
    background: black;
    color: green;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.footer ul li {
    display: inline-block;
    margin-right: 32px;
}

.footer p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

